.display {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #3c3c3c;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.display > * {
    width: 100%;
    min-height: 0; /* Importante para que flex child pueda hacer scroll */
    flex: 1;
}
