.table-selector {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    overflow-y: auto;
}

.table-item {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background-color: var(--bg-color-secondary);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.table-item:hover {
    background-color: var(--bg-color-hover);
}

.table-item__title {
    font-weight: bold;
}

.table-item__subtitle {
    color: var(--text-color-secondary);
    font-size: 0.9rem;
}
