.admin-reservations-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reservation-item {
  background-color: rgb(29, 29, 29);
  border: 1px solid #333;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 1rem;
  transition: all 0.3s;
  cursor: pointer;
}

.reservation-item:hover {
  background-color: rgb(50, 50, 50);
  transition: all 0.3s;
}

.reservation-line {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 1rem;
}

.reservation-line:last-child {
  margin-bottom: 0;
}

.reservation-field {
  font-weight: bold;
  margin-right: 1rem;
}

.button-group {
  margin-left: auto;
  display: flex;
  gap: 0.5rem;
}

.edit-button,
.delete-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.edit-button {
  background-color: #2c5282;
  color: white;
}

.edit-button:hover {
  background-color: #2b6cb0;
}

.delete-button {
  background-color: #822727;
  color: white;
}

.delete-button:hover {
  background-color: #9b2c2c;
}

.error-message {
  color: #ff4444;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: rgba(255, 68, 68, 0.1);
}
