@import './styles/global.css';

#root {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-family);
  line-height: var(--line-height-normal);
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
