.map-preview {
    width: 800px;
    height: 600px;
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}

.map-preview:focus {
    outline: none;
    border-color: var(--primary-color);
}

/* Estilos para el contenedor del Stage de Konva */
.map-preview .konvajs-content {
    background-color: white;
    border: 1px solid #e1e4e8;
}

.map-preview .konvajs-content canvas {
    cursor: crosshair;
}
