.card {
    background-color: #2a2a2a;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}

.card__header {
    margin: -1rem -1rem 1rem -1rem;
    padding: 0rem;
    font-weight: 600;
    background-color: #373737;
    text-align: center;
}

.card__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__footer {
    margin: 1rem -1rem -1rem -1rem;
    padding: 0rem;
    background-color: #373737;
    color: #888;
    font-size: 0.9rem;
    text-align: center;
}
